* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(0, 0%, 63%);
  --Grey-800: hsl(0, 0%, 27%);
  --Black: hsl(0, 0%, 0%);
  /*  Body Copy */

  --Font-size: 16px;

  /*Font */

  --Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan);
  --Weights: 500, 600, 700;
}
body{
   background-color: black;
}

.hero{
   display: flex;
   flex-direction: row;
   margin: 30px 20px 0 40px;
}
.heroleft{
   position: relative;
   flex: 1;
   background-image: url(/resources/images/desktop-image-hero-1.jpg);
   background-size: cover;
   background-position: center;
}
.arrows{
   display: flex;
   position: absolute;
   bottom: 0;
   right: -148px;
   background-color: black;
   padding:15px 45px;
   gap: 30px;

}

nav{
   display: flex;
   flex-direction: column;
   gap: 30px;

}


.hero1{
   display: flex;
   flex-direction: row;
   margin: 20px 0 0 30px;
   padding: 40px;
   gap: 40px;
   
}
.list {
   display: flex;
   flex-direction: row;
   gap: 30px;
   color: var(--White);
   list-style: none;
}
.list li {
   cursor: pointer;
}


.section2 {
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 50px;
   gap: 70px;

}
.section2 h1{
   font-size: 40px;
   color: var(--Black);
}
.section2 p {
   color: var(--Grey-500);
}
.section2-text{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin: 40px 0 0 40px;
   padding: 20px;
}
.shop{
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.lastpart{
   display: flex;
   flex-direction: row;
   margin: 0 20px 0 40px;
}
.furniture{
   display: flex;
   flex-direction: column;
   background-color: var(--White);
   padding: 20px;
   gap: 30px;
}
.furniture p {
   color: var(--Grey-500);
}